<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Opacity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CAA6A72E1D062B7200E910AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAA6A74A1D062B7200E910AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAA6A7551D062B7200E910AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
